<!DOCTYPE html>
<html>
    <head>
        <title>Junchen Wang</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <style>
            @import url("stylesscripts/bulma.css");
            
            @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Plus+Jakarta+Sans&display=swap');
            
            body{
                font-family: Plus Jakarta Sans, Arial;
            }
            
            .content{
                margin: 0 10%;
            }

            @media only screen and (max-width: 800px) {
                .content{
                    margin: 0 3%;
                }
            }

            .button{
                font-family: Plus Jakarta Sans, Arial;
            }

            .imgs-preview{
                text-align: center;
            }

            .imgs-preview img{
                width: 20%;
            }

            @media only screen and (max-width: 800px) {
                .imgs-preview img{
                    width: 33%;
                }
            }
        </style>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGGEJWSGP5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FGGEJWSGP5');
        </script>
    </head>
    <body>
        <!-- start header part -->
        <section class="hero is-info" style="background-image: url('img/IMG_0920.JPG'); background-position: center center; background-size: cover;">
            <div class="hero-body" style="background: rgb(0, 0, 0, 0.4);">
            <div class="title has-text-centered" style="font-family: Lexend Deca; font-size: 44pt;">
                Junchen Wang
            </div>
            </div>
        </section>
        <!-- end header part -->
        <section class="content" id="vue-target">
            <section class="box has-text-centered mt-4 is-size-5 top-contact-me">
                Currently open to employment opportunities! Feel free to <a href="javascript:;" @click="page_change('contact');" style="display: inline;">contact me</a> about work.
            </section>
            <!-- start top navigation bars -->
            <div class="tabs is-large is-centered is-toggle is-toggle-rounded nav-tabs" style="font-family: Lexend Deca;">
                <ul>
                    <li :class="{'is-active': show_about}"  @click="page_change('about');">
                        <a><i class="fa-solid fa-info"></i>&ensp;About Me</a>
                    </li>
                    <li :class="{'is-active': show_projects}" @click="page_change('projects');">
                        <a><i class="fa-solid fa-code"></i>&ensp;Projects</a>
                    </li>
                    <li :class="{'is-active': show_resume}"  @click="page_change('resume');">
                        <a><i class="fa-solid fa-file-lines"></i>&ensp;Resume</a>
                    </li>
                    <li :class="{'is-active': show_contact}"  @click="page_change('contact');">
                        <a><i class="fa fa-paper-plane"></i>&ensp;Contact</a>
                    </li>
                </ul>
            </div>
            <nav class="panel is-size-5 nav-panel" style="display: none;">
                <a class="panel-block" :class="{'is-active': show_about}" @click="page_change('about');">
                    <span class="panel-icon">
                        <i class="fas fa-info"></i>
                    </span>
                    About Me
                </a>         
                <a class="panel-block" :class="{'is-active': show_projects}" @click="page_change('projects');">
                    <span class="panel-icon">
                        <i class="fas fa-code"></i>
                    </span>
                    Projects
                </a>         
                <a class="panel-block" :class="{'is-active': show_resume}" @click="page_change('resume');">
                    <span class="panel-icon">
                        <i class="fas fa-file-lines"></i>
                    </span>
                    Resume
                </a>         
                <a class="panel-block" :class="{'is-active': show_contact}" @click="page_change('contact');">
                    <span class="panel-icon">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                    Contact
                </a>         
            </nav>
            <!-- end top navigation bars -->
            <!-- start about section -->
            <div style="margin-bottom: 10px;">
                <div class="section is-size-4" v-if="show_about">
                    <h2 class="title is-size-2">Introduction</h2>
                    <div class="columns">
                        <div class="column is-one-quarter">
                            <img src="img/jwang-t12012019-s20062022-e15012023.jpg" style="width: 100%;" alt="Picture of Junchen Wang">
                        </div>
                        <div class="column">
                            Hello, my name is Junchen Wang, Chen for short.
                            I am interested in web and software development.
                            I have a Bachelor of Arts in Computer Science degree from UCSC.
                            Currently looking for employment, anything that fits my skills are great.
                            If I need more skills to meet the requirements, I'd be willing to learn them.
                            Thank you for visiting my website!
                        </div>
                    </div>
                    <br>
                    <h2 class="title is-size-2">Education</h2>
                    <h3 class="title is-size-3">
                        <div class="has-text-centered" style="display: inline-block; width: 140px;">
                            <img src="https://shop.madeinsantacruz.com/media/Jimbo-Phillips/_thumb-UCSC-icon.jpg" style="height: 100px; vertical-align: -40px;" alt="UCSC Slug logo">
                        </div>
                        University of California, Santa Cruz (UCSC)
                        <div style="height: 8px; margin-top: 10px; width: 80%;">
                            <div style="background: rgb(0, 70, 122, 1); height: 50%; width: 100%;">&nbsp;</div>
                            <div style="background: rgb(255, 210, 0, 1); height: 50%; width: 100%;">&nbsp;</div>
                        </div>
                    </h3>
                    Bachelor of Arts in Computer Science, September 2018 and January 2020 to June 2022<br>
                    <button class="button is-dark is-outlined is-size-5" :class="{'is-outlined': !show_ucsc_classes}" style="width: 200px;" @click="show_ucsc_classes = !show_ucsc_classes;">
                        <span v-if="!show_ucsc_classes">Show</span><span v-else>Hide</span>&nbsp;classes
                    </button>
                    <table class="table is-bordered is-striped is-fullwidth" style="margin: 5px 0 0 0;" v-if="show_ucsc_classes">
                        <tr>
                            <td style="width: 50%;">
                                <a href="https://courses.soe.ucsc.edu/courses/cse140" target="_blank">
                                    Artifical Intelligence, CSE 140
                                </a>
                            </td>
                            <td>
                                <a href="https://courses.soe.ucsc.edu/courses/cse143" target="_blank">
                                    Introduction to Natural Language Processing, CSE 143
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://courses.soe.ucsc.edu/courses/cse114a" target="_blank">
                                    Foundations of Programming Languages, CSE 114A
                                </a>
                            </td>
                            <td>
                                <a href="https://courses.soe.ucsc.edu/courses/cse30" target="_blank">
                                    Programming Abstractions: Python, CSE 30
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://courses.soe.ucsc.edu/courses/cse101" target="_blank">
                                    Introduction to Data Structures and Algorithms, CSE 101
                                </a>
                            </td>
                            <td>
                                <a href="https://courses.soe.ucsc.edu/courses/cse185s" target="_blank">
                                    Technical Writing for Computer Science and Engineering, CSE 185S
                                </a>
                           </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://courses.soe.ucsc.edu/courses/cse102" target="_blank">
                                    Introduction to Analysis of Algorithms, CSE 102
                                </a>
                            </td>
                            <td>
                                <a href="https://courses.soe.ucsc.edu/courses/cse183" target="blank">
                                    Web Applications, CSE 183
                                </a>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <h3 class="title is-size-3">
                        <div class="has-text-centered" style="display: inline-block; width: 140px;">
                            <img src="https://b.thumbs.redditmedia.com/YBIzqwkjH38Uo_TWzveB3B4I4jGqQ7D0ZS_QtIffu-E.png" style="height: 100px; vertical-align: -40px;" alt="MPC icon logo">
                        </div>
                        Monterey Peninsula College (MPC)
                        <div style="height: 8px; margin-top: 10px; width: 80%;">
                            <div style="background: rgb(134, 0, 56, 1); height: 50%; width: 100%;">&nbsp;</div>
                            <div style="background: rgb(230, 230, 230, 1); height: 50%; width: 100%;">&nbsp;</div>
                        </div>
                    </h3>
                    January 2019 to December 2019<br>
                    <button class="button is-dark is-size-5" :class="{'is-outlined': !show_mpc_classes}" style="width: 200px;" @click="show_mpc_classes = !show_mpc_classes;">
                        <span v-if="!show_mpc_classes">Show</span><span v-else>Hide</span>&nbsp;classes
                    </button>
                    <table class="table is-bordered is-striped is-fullwidth" style="margin: 5px 0 0 0;" v-if="show_mpc_classes">
                        <tr>
                            <td style="width: 50%;">
                                <a href="https://webreg.mpc.edu/SR_ScheduleOfClasses.aspx?Mode=text&TermID=20207&CourseDiscipline=CSIS&Course=24766" target="_blank">
                                    Programming Methods I: Java, CSIS 10A
                                </a>
                            </td>
                            <td>
                                <a href="https://webreg.mpc.edu/SR_ScheduleOfClasses.aspx?Mode=text&TermID=20207&CourseDiscipline=CSIS&Course=24476" target="_blank">
                                    Programming Methods I.5: C & C++, CSIS 10C
                                </a>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <h2 class="title is-size-2">Skills</h2>
                    <table class="table is-bordered is-fullwidth">
                        <tr>
                            <th>Skill</th>
                            <th>Proficiency Level</th>
                        </tr>
                        <!--
                            Experience colors
                            76-100 = -success
                            51-75 = -primary
                            26-50 = -info
                            1-25 = -warning
                        -->
                        <!-- 76-100 start -->
                        <tr>
                            <td style="width: 30%;">HTML</td>
                            <td><progress class="progress is-success" style="border-radius: 0; height: 30px;" value="90" max="100"></progress></td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">CSS</td>
                            <td><progress class="progress is-success" style="border-radius: 0; height: 30px;" value="80" max="100"></progress></td>
                        </tr>
                        <!-- 76-100 end -->
                        <!-- 51-75 start -->
                        <tr>
                            <td style="width: 30%;">JavaScript</td>
                            <td><progress class="progress is-primary" style="border-radius: 0; height: 30px;" value="65" max="100"></progress></td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">Python</td>
                            <td><progress class="progress is-primary" style="border-radius: 0; height: 30px;" value="65" max="100"></progress></td>
                        </tr>
                        <!-- 51-75 end -->
                        <!-- 26-50 start -->
                        <tr>
                            <td style="width: 30%;">Django</td>
                            <td><progress class="progress is-info" style="border-radius: 0; height: 30px;" value="35" max="100"></progress></td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">Vue.js</td>
                            <td><progress class="progress is-info" style="border-radius: 0; height: 30px;" value="35" max="100"></progress></td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">Java</td>
                            <td><progress class="progress is-info" style="border-radius: 0; height: 30px;" value="30" max="100"></progress></td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">SASS (.scss)</td>
                            <td><progress class="progress is-info" style="border-radius: 0; height: 30px;" value="30" max="100"></progress></td>
                        </tr>             
                        <!-- 26-50 end -->
                        <!-- 1-25 start -->
                        <tr>
                            <td style="width: 30%;">Git</td>
                            <td><progress class="progress is-warning" style="border-radius: 0; height: 30px;" value="20" max="100"></progress></td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">C/C++</td>
                            <td><progress class="progress is-warning" style="border-radius: 0; height: 30px;" value="20" max="100"></progress></td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">SQL</td>
                            <td><progress class="progress is-warning" style="border-radius: 0; height: 30px;" value="15" max="100"></progress></td>
                        </tr>
                        <!-- 1-25 end -->
                    </table>
                    <h2 class="title is-size-2">Projects</h2>
                    <a href="javascript:;" @click="page_change('projects');">To see projects I have worked on, click here.</a>  
                    <h2 class="title is-size-2">Hobbies</h2>
                    <h3 class="title is-size-3">Photography</h3>
                    Adjusting the shutterspeed, ISO, and aperture, usually taking photos of nature and scenery.
                    Here are a few of them (click on the image to go to its file):
                    <div class="box" style="margin-top: 5px;">
                        <div class="columns">
                            <div class="column">
                                <a :href="'img/' + img_slides_src" target="_blank">
                                    <img :src="'img/' + img_slides_src" style="width: 100%;" :alt="img_slides_des" :title="img_slides_des">
                                </a>
                                <div class="columns is-mobile" style="margin: 0;">
                                    <div class="column has-text-left">
                                        <button class="button is-dark is-outlined is-rounded is-size-6" @click="img_slides_change(-1); img_slides_autochange_on = false;"><i class="fa fa-chevron-left"></i></button>
                                    </div>
                                    <div class="column has-text-centered is-one-half">
                                        {{parseInt(img_slides_ind) + 1}}/{{img_slides_len}}
                                    </div>
                                    <div class="column has-text-right">
                                        <button class="button is-dark is-rounded is-outlined is-size-6" @click="img_slides_change(1); img_slides_autochange_on = false;"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="column" style="height: 300px;">
                                <progress class="progress is-danger is-fullwidth" style="height: 3px;" :value="100 * (img_slides_ind + 1) / img_slides_len" max="100"></progress>
                                {{img_slides_des}}<br>
                                {{img_slides_inf}}
                            </div>
                        </div>
                        <div class="imgs-preview">
                            <span v-for="img in img_slides_arr">
                                <img :src="'img/' + img['src']" :style="[(img['index'] == img_slides_ind) ? {'border-bottom': '5px solid rgb(200, 100, 0)', opacity: '1'} : {opacity: '0.5'}]" :style="{'opacity': '0.5'}" @click="img_slides_change_by_index(img['index']); img_slides_autochange_on = false;">
                            </span>
                        </div>
                    </div>
                    <br>
                    <h3 class="title is-size-3">Learning Languages (not coding ones)</h3>
                    ES:
                    Yo he estado aprendiendo espa&ntilde;ol durante dos a&ntilde;os, en la universidad y en Duolingo. 
                    Mi nivel de espa&ntilde;ol es pre intermedio.<br>
                    ZH:
                    我在提高我的中文水平。
                    我现在的中文水平是初级。
                    <br>
                    PT:
                    Estudo portugu&ecirc;s no Duolingo.
                    Meu n&iacute;vel de portugu&ecirc;s &eacute; inciante.
                </div>
            </div>
            <!-- end about section -->
            <!-- start projects section -->
            <div style="margin-bottom: 10px;">
                <div class="section" v-if="show_projects">
                    <div class="columns is-size-4">
                        <div class="column is-one-third">
                            <div class="box featured-project" style="height:100%;">
                                <h3 class="title is-size-3">New Timer</h3>
                                <a href="the-timer-lupine" class="button is-success is-size-5 mb-2" target="_blank"><i class="fa-solid fa-globe"></i>&ensp;Site</a>
                                <a href="https://github.com/Chen858858/the-timer-lupine" class="button is-info is-size-5" target="_blank"><i class="fa fa-code"></i>&ensp;Code</a><br>
                                Timer which allows multiple timers.
                                Written in JavaScript (Vue.js framework), CSS (compiled by SASS .scss), and HTML.
                                <div class="stamp">
                                    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3429667/diamond-star-20-21-yellow-icon-md.png" alt=""> 
                                </div>
                            </div>  
                        </div>
                        <div class="column is-one-third">
                            <div class="box featured-project" style="height: 100%;">
                                <h3 class="title is-size-3">CS50W Projects</h3>
                                <a href="https://www.youtube.com/playlist?list=PLfoDYyHC9KvAABiO4bWxHdo_YvVz6HE5g" class="button is-success is-size-5 mb-2" target="_blank"><i class="fa-solid fa-circle-play"></i>&ensp;Demos</a><br>
                                Projects for edX Harvard CS50W Web Programming with Python and JavaScript.
                                Written in HTML, CSS (Bootstrap), JavaScript, and Python with the Django framework.
                                <div class="stamp">
                                    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3429667/diamond-star-20-21-yellow-icon-md.png" alt=""> 
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <div class="box featured-project" style="height: 100%;">
                                <h3 class="title is-size-3">Find My Pet</h3>
                                <a href="doc/Find My Pet pics - Chen highlighted.pdf" class="button is-success is-size-5 mb-2" target="_blank"><i class="fa-solid fa-image"></i>&ensp;Pics</a>
                                <a href="https://github.com/jadlow/find-my-pet" class="button is-info is-size-5" target="_blank"><i class="fa fa-code"></i>&ensp;Code</a><br>
                                UCSC CSE 183 Web Applications group project.
                                Website for owners to be reunited with their lost pets.
                                Written in HTML, CSS (Bulma), JavaScript (Vue.js), and Python with the py4web framework.
                                <div class="stamp">
                                    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3429667/diamond-star-20-21-yellow-icon-md.png" alt=""> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-size-4">
                        <div class="column is-one-third">
                            <div class="box" style="height: 100%;">
                                <h3 class="title is-size-3">Battleship Game</h3>
                                <a href="https://github.com/Chen858858/battleship-java" class="button is-info is-size-5 mb-2" target="_blank"><i class="fa fa-code"></i>&ensp;Code</a><br>
                                Game of Battleship where the player plays against the computer.
                                Personal project.
                                Written in Java.
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <div class="box" style="height: 100%;">
                                <h3 class="title is-size-3">Lava Floor Game</h3>
                                <a href="https://chen858858.github.io/lavafloor/lavafloor.html" class="button is-success is-size-5 mb-2" target="_blank"><i class="fa-solid fa-globe"></i>&ensp;Site</a>
                                <a href="https://github.com/Chen858858/chen858858.github.io/blob/main/lavafloor/" class="button is-info is-size-5" target="_blank"><i class="fa fa-code"></i>&ensp;Code</a><br>
                                Game where the player finds the path to cross a floor of lava.
                                Personal project.
                                Written in HTML, CSS, and JavaScript.
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <div class="box" style="height: 100%;">
                                <h3 class="title is-size-3">Song Quotes Generator</h3>
                                <a href="https://chen858858.github.io/70s80s90ssq/70s80s90ssq.html" class="button is-success is-size-5 mb-2" target="_blank"><i class="fa-solid fa-globe"></i>&ensp;Site</a>
                                <a href="https://github.com/Chen858858/chen858858.github.io/tree/main/70s80s90ssq" class="button is-info is-size-5" target="_blank"><i class="fa fa-code"></i>&ensp;Code</a><br>
                                Generates quotes from the songs of the 1970s, 80s, and 90s.
                                Personal project.
                                Written in HTML, CSS, and JavaScript.
                            </div>
                        </div>
                    </div>
                    <div class="columns is-size-4">
                        <div class="column is-one-third">
                            <div class="box" style="height: 100%;">
                                <h3 class="title is-size-3">Old Timer</h3>
                                <a href="https://chen858858.github.io/thetimer1/thetimer1.html" class="button is-success is-size-5 mb-2" target="_blank"><i class="fa-solid fa-globe"></i>&ensp;Site</a>
                                <a href="https://github.com/Chen858858/chen858858.github.io/tree/main/thetimer1" class="button is-info is-size-5" target="_blank"><i class="fa fa-code"></i>&ensp;Code</a><br>
                                Timer which counts down from a specified time.
                                Can be paused and reset.
                                Personal project.
                                Written in HTML, CSS, and JavaScript.
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <div class="box" style="height: 100%;">
                                <h3 class="title is-size-3">Binary-Decimal-Hex Converter</h3>
                                <a href="https://chen858858.github.io/bindechex/bindechex.html" class="button is-success is-size-5 mb-2" target="_blank"><i class="fa-solid fa-globe"></i>&ensp;Site</a>
                                <a href="https://github.com/Chen858858/chen858858.github.io/tree/main/bindechex" class="button is-info is-size-5" target="_blank"><i class="fa fa-code"></i>&ensp;Code</a><br>
                                Converter between binary, decimal, and hexadecimal.
                                Personal project.
                                Written in HTML, CSS, and JavaScript (jQuery).
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end projects section -->
            <!-- start resume section -->
            <div style="margin-bottom: 10px;">
                <div class="section" v-if="show_resume">
                    <a href="doc/Resume (12_08_2023 version).pdf" target="_blank" class="button is-info is-size-5 mb-3"><i class="fa-solid fa-file-pdf"></i>&ensp;View resume as a file</a>
                    <a href="doc/Resume (12_08_2023 version).pdf" download="Junchen Wang Resume" class="button is-success is-size-5 mb-3"><i class="fa-solid fa-download"></i>&ensp;Download resume as PDF</a>
                    <iframe style="border: 3px solid rgb(200, 200, 200, 1); border-radius: 5px; height: 600px; width: 100%;" src="doc/Resume (12_08_2023 version).pdf">
                    </iframe>
                    <div class="block is-size-5 is-italic">Last updated December 2023.</div>  
                </div>
            </div>
            <!-- end resume section -->
            <!-- start contact section -->
            <div style="margin-bottom: 10px;">
                <div class="section is-size-4" v-if="show_contact">
                    <img src="img/nospam.png" style="height: 60px; vertical-align: -20px;" alt="No spam image">&ensp;please!<br><br>
                    <h2 class="title is-size-2">LinkedIn</h2>
                    <a href="https://linkedin.com/in/jchen-wang" target="_blank">
                        linkedin.com/in/jchen-wang
                    </a>
                    <br><br>
                    <h2 class="title is-size-2">Email</h2>
                    junchenwang5@gmail.com<br>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=junchenwang5@gmail.com" class="button is-dark is-outlined is-size-5" target="_blank">
                        <i class="fa-brands fa-google" style="color: rgb(234, 67, 53, 1);"></i>
                        &ensp;Email me from Gmail
                    </a>
                    <br><br>
                    <h2 class="title is-size-2">Phone</h2>
                    (831) 869-8869
                </div>
            </div>
            <!-- end contact section -->
            <!-- start bottom navigation bars -->
            <div class="tabs is-large is-centered is-toggle is-toggle-rounded nav-tabs" style="font-family: Lexend Deca;">
                <ul>
                    <li :class="{'is-active': show_about}"  @click="page_change('about');">
                        <a><i class="fa-solid fa-info"></i>&ensp;About Me</a>
                    </li>
                    <li :class="{'is-active': show_projects}" @click="page_change('projects');">
                        <a><i class="fa-solid fa-code"></i>&ensp;Projects</a>
                    </li>
                    <li :class="{'is-active': show_resume}"  @click="page_change('resume');">
                        <a><i class="fa-solid fa-file-lines"></i>&ensp;Resume</a>
                    </li>
                    <li :class="{'is-active': show_contact}"  @click="page_change('contact');">
                        <a><i class="fa fa-paper-plane"></i>&ensp;Contact</a>
                    </li>
                </ul>
            </div>
            <nav class="panel is-size-5 nav-panel" style="display: none;">
                <a class="panel-block" :class="{'is-active': show_about}" @click="page_change('about');">
                    <span class="panel-icon">
                        <i class="fas fa-info"></i>
                    </span>
                    About Me
                </a>         
                <a class="panel-block" :class="{'is-active': show_projects}" @click="page_change('projects');">
                    <span class="panel-icon">
                        <i class="fas fa-code"></i>
                    </span>
                    Projects
                </a>         
                <a class="panel-block" :class="{'is-active': show_resume}" @click="page_change('resume');">
                    <span class="panel-icon">
                        <i class="fas fa-file-lines"></i>
                    </span>
                    Resume
                </a>         
                <a class="panel-block" :class="{'is-active': show_contact}" @click="page_change('contact');">
                    <span class="panel-icon">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                    Contact
                </a>         
            </nav>
            <!-- end bottom navigation bars -->
        </section>
        <!-- start footer part -->
        <div class="footer is-size-4 has-text-centered">
            This website is made with HTML, CSS (<a href="https://bulma.io/" target="_blank">Bulma</a>), and JavaScript (<a href="https://vuejs.org/" target="_blank">Vue.js</a>), along with <a href="https://fonts.google.com/" target="_blank">Google Fonts</a> and <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>.<br>
            Hosted on <a href="https://pages.github.com/" target="_blank">Github Pages</a>.
        </div>
        <!-- end footer part -->
    </body>
    <script src="stylesscripts/vue.js"></script>
    <script src="stylesscripts/indexjs.js"></script>
</html>
